<% @doctor.doctor_worktime.events_count.times do |i| %>

  <% hour = i +  @doctor.doctor_worktime.start_hours.to_i %>
  <% if !@events_list.include?(hour) %>

    <%= button_to  'Rcord!',
                    new_record_path,
                    method: 'get',
                    type: 'button',
                    class: "btn btn-success",
                    params: { doctor_id: @doctor.id,
                             date_start: hour,
                             choice_date: @choice_date } %>

  <% elsif hour == @doctor.doctor_worktime.lunch_start %>

    <button type="button" class="btn btn-info" disabled="disabled">
    'Обед'
    </button>

  <% else %>

    <button type="button" class="btn btn-primary" disabled="disabled">
    'Занято'
    </button>

  <% end %>
<% end %>
