<div class="post-<%= post.id %>">
  <div class="title">
    <%= post.title %>
  </div>
  <div class="body">
    <%= post.body %>
  </div>
  <div class="post-footer">
    <div class="date"><%= published_time(post) %></div>
    <div class="sharing">sharing to social networks</div>
  </div>
</div>
<hr>
<br>
<br>
